--- 
import socialImage from '../docs/hippotable.png';

const title = 'Hippotable | data analytics toolkit';
const site = 'https://blog.thoughtspile.tech';
const selfLink = new URL('/hippotable', site).href;
const description = 'View and analyze CSV in your browser — it\'s fast!';
const socialImageAbs = new URL(socialImage.src, site).href;
---

<html>
  <head>
		
    <title>{title}</title>
		
    <meta property="og:type" content="website">
    <meta property="og:title" content={title}>
    <meta property="og:url" content={selfLink}>
    <meta property="og:site_name" content={title}>
    <meta property="og:locale" content="en_US">
		
		<meta name="description" content={description}>
		<meta property="og:description" content={description}>
		<meta property="twitter:description" content={description}>
    
		<meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@thoughtspile">
    
		<meta name="twitter:image" content={socialImageAbs}>
		<meta property="og:image" content={socialImageAbs}>

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script defer data-domain="blog.thoughtspile.tech" src="https://t.thoughtspile.tech/js/script.js"></script>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  input[type=file] {
    display: none;
  }

  body {
    color: #3b4351;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;    margin: 0;
  }

  html {
    box-sizing: border-box;
    font-size: 20px;
    line-height: 1.5;
    -webkit-tap-highlight-color: transparent;
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
</style>
